.eco-sidebar {
  position: fixed; /* se mantiene fija al hacer scroll */
  left: 28px;
  top: 70px;
  width: 130px; /* ajusta segun el diseño */
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 5px 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 9999;
  
}

.law-title {
  color: #006400;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  align-items: center;
}

.menu-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(0, 100, 0, 0.1);
  transform: scale(1.05);
}



.menu-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-bottom: 5px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

.menu-item span {
  font-size: 14px;
  font-weight: 600;
  color: #004d00;
}

.sidebar-footer {
  border-top: 1px solid rgba(0, 100, 0, 0.2);
  padding-top: 10px;
  width: 80%;
  text-align: center;
}

.username {
  margin: 5px 0 3px;
  font-weight: 600;
  color: #004d00;
}

.btn-logout {
  background: transparent;
  border: 1px solid #198754;
  border-radius: 8px;
  color: #198754;
  padding: 3px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-logout:hover {
  background: #198754;
  color: white;
}

/* Botón hamburguesa */
.toggle-btn {
  display: none;
}

/* ----- Responsive para pantallas pequeñas ----- */
@media (max-width: 768px) {
  .eco-sidebar {
    transform: translateX(-150%);
    transition: transform 0.3s ease-in-out;
    left: 0;
    top: 0;
    height: 100vh;
    border-radius: 0 16px 16px 0;
    padding-top: 60px;
  }

  .eco-sidebar.open {
    transform: translateX(0);
  }

  .toggle-btn {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 200;
    background-color: rgba(0, 100, 0, 0.8);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  }

  .toggle-btn:hover {
    background-color: rgba(0, 128, 0, 0.95);
  }
}

.menu-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
